<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RegistroProteinasServicesSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="RegistroProteinasServicesSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44390/RegistroProteinasServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="RegistroProteinasServicesSoap"
                contract="RegistroProteinas.RegistroProteinasServicesSoap"
                name="RegistroProteinasServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>